@using System.Net.Sockets;
@inject IJSRuntime JSRuntime
@using System.Text
@using Microsoft.AspNetCore.Components.Server.Circuits
@inject ILogger<Terminal> Logger
@rendermode InteractiveServer
@inject CircuitHandler circuitHandler






<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


<div id="greggTerminal" @ref="_terminal">
    @((MarkupString)_data)
</div>
<textarea id="greggInput" @bind="_input" @bind:event="oninput" @onkeydown="OnKeyDown"></textarea>
